
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cinzel:wght@400..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
   font-family: "Amatic SC", sans-serif;
   font-weight: 700;
   font-size: 4rem;
   text-align: center;
}

body{
  background-image: url(./helper/office-desk-6180925_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  min-height:100vh ;
}

.accord .accordion-item {
  background-color: transparent!important;
  outline: none;
}

.accord .accordion-header {
  background-color: transparent!important; 
}

.accord .accordion-body {
  background-color: transparent!important;
}

.accord .accordion-button:not(.collapsed) {
  background-color: transparent !important; 
  color: black; 
}
.accord .accordion-button.collapsed {
  background-color: transparent !important; 
}

.accord .accordion-button {
  background-color: transparent !important; /* Arka plan şeffaf */
  color: black; /* Yazı rengi siyah */
  border: none !important; /* Kenarlık kaldır */
  box-shadow: none !important; /* Kutunun gölgesini kaldır */
  outline: none !important; /* Odaklanma (focus) durumunda oluşan outline'ı kaldır */
}

.accord .accordion-button:focus {
  outline: none !important; /* Odaklanma durumundaki outline'ı kaldır */
  box-shadow: none !important; /* Odaklanma durumundaki gölgeyi kaldır */
}